Repository marpi82/ha-bragerone: changes, and which pre-commit hooks are due for each by the changed paths.
All: ha-manifest-validation, ha-strings-validation

ha-manifest-validation:
  name: Validate Home Assistant manifest.json
  language: system
  entry: bash -c 'python -c "import json; json.load(open(\"custom_components/habragerone/manifest.json\"))"'
  pass_filenames: false

ha-strings-validation:
  name: Validate Home Assistant strings.json
  language: system
  entry: bash -c 'python -c "import json; json.load(open(\"custom_components/habragerone/strings.json\"))"'
  pass_filenames: false

fix: localize device_grouping strings for non-English locales
  custom_components/habragerone/translations/cs.json
  custom_components/habragerone/translations/de.json
  custom_components/habragerone/translations/el.json
  custom_components/habragerone/translations/es.json
  custom_components/habragerone/translations/et.json
  custom_components/habragerone/translations/fr.json
  custom_components/habragerone/translations/hu.json
  custom_components/habragerone/translations/ja.json
  custom_components/habragerone/translations/lt.json
  custom_components/habragerone/translations/lv.json
  custom_components/habragerone/translations/nl.json
  custom_components/habragerone/translations/pt.json
  custom_components/habragerone/translations/ro.json
  custom_components/habragerone/translations/ru.json
  custom_components/habragerone/translations/sk.json
  custom_components/habragerone/translations/sl.json
  custom_components/habragerone/translations/uk.json
Due: none

feat: optional device grouping by menu (#165) (#174)
  AGENTS.md
  README.md
  custom_components/habragerone/binary_sensor.py
  custom_components/habragerone/bootstrap.py
  custom_components/habragerone/button.py
  custom_components/habragerone/config_flow.py
  custom_components/habragerone/const.py
  custom_components/habragerone/entity_common.py
  custom_components/habragerone/number.py
  custom_components/habragerone/select.py
  custom_components/habragerone/sensor.py
  custom_components/habragerone/strings.json
  custom_components/habragerone/switch.py
  custom_components/habragerone/translations/cs.json
  custom_components/habragerone/translations/de.json
  custom_components/habragerone/translations/el.json
  custom_components/habragerone/translations/en.json
  custom_components/habragerone/translations/es.json
  custom_components/habragerone/translations/et.json
  custom_components/habragerone/translations/fr.json
  custom_components/habragerone/translations/hu.json
  custom_components/habragerone/translations/ja.json
  custom_components/habragerone/translations/lt.json
  custom_components/habragerone/translations/lv.json
  custom_components/habragerone/translations/nl.json
  custom_components/habragerone/translations/pl.json
  custom_components/habragerone/translations/pt.json
  custom_components/habragerone/translations/ro.json
  custom_components/habragerone/translations/ru.json
  custom_components/habragerone/translations/sk.json
  custom_components/habragerone/translations/sl.json
  custom_components/habragerone/translations/uk.json
  tests/test_bootstrap_menu_key.py
  tests/test_config_flow_helpers.py
  tests/test_config_flow_integration.py
  tests/test_entity_common.py
Due: ha-strings-validation

fix: entity display names use menu leaf, no leading dash (#177)
  AGENTS.md
  custom_components/habragerone/entity_common.py
  tests/test_entity_naming.py
  tests/test_platform_number.py
  tests/test_platform_select.py
  tests/test_platform_switch.py
Due: none

test: cover dot-path rejection in display name prefix (#177)
  tests/test_entity_naming.py
Due: none

fix: entity display names use menu leaf, no leading dash (#177) (#179)
  AGENTS.md
  custom_components/habragerone/entity_common.py
  tests/test_entity_naming.py
  tests/test_platform_number.py
  tests/test_platform_select.py
  tests/test_platform_switch.py
Due: none

feat: group-by-menu uses parent menu device, not leaf (#176)
  AGENTS.md
  README.md
  custom_components/habragerone/bootstrap.py
  custom_components/habragerone/const.py
  custom_components/habragerone/entity_common.py
  tests/test_bootstrap_menu_key.py
  tests/test_entity_common.py
Due: none

test: cover parent-menu grouping edge branches for patch coverage
  tests/test_bootstrap_menu_key.py
  tests/test_entity_common.py
Due: none

style: ruff-format bootstrap menu key tests
  tests/test_bootstrap_menu_key.py
Due: none

docs: clarify menu_key uses root-first stable ancestor
  custom_components/habragerone/bootstrap.py
Due: none

feat: group-by-menu uses parent menu device (#176) (#180)
  AGENTS.md
  README.md
  custom_components/habragerone/bootstrap.py
  custom_components/habragerone/const.py
  custom_components/habragerone/entity_common.py
  tests/test_bootstrap_menu_key.py
  tests/test_entity_common.py
Due: none

docs: require HACS beta/rc smoke before stable tags (#175)
  DEVELOPMENT.md
  README.md
  scripts/release.sh
Due: none

docs: require HACS beta/rc smoke before stable tags (#175) (#181)
  DEVELOPMENT.md
  README.md
  scripts/release.sh
Due: none

fix(i18n): drop mixed-language device_grouping help text
  custom_components/habragerone/translations/cs.json
  custom_components/habragerone/translations/de.json
  custom_components/habragerone/translations/el.json
  custom_components/habragerone/translations/es.json
  custom_components/habragerone/translations/et.json
  custom_components/habragerone/translations/fr.json
  custom_components/habragerone/translations/hu.json
  custom_components/habragerone/translations/ja.json
  custom_components/habragerone/translations/lt.json
  custom_components/habragerone/translations/lv.json
  custom_components/habragerone/translations/nl.json
  custom_components/habragerone/translations/pl.json
  custom_components/habragerone/translations/pt.json
  custom_components/habragerone/translations/ro.json
  custom_components/habragerone/translations/ru.json
  custom_components/habragerone/translations/sk.json
  custom_components/habragerone/translations/sl.json
  custom_components/habragerone/translations/uk.json
Due: none

docs: clarify flat-mode connectivity child device (#178)
  README.md
  custom_components/habragerone/strings.json
  custom_components/habragerone/translations/cs.json
  custom_components/habragerone/translations/de.json
  custom_components/habragerone/translations/el.json
  custom_components/habragerone/translations/en.json
  custom_components/habragerone/translations/es.json
  custom_components/habragerone/translations/et.json
  custom_components/habragerone/translations/fr.json
  custom_components/habragerone/translations/hu.json
  custom_components/habragerone/translations/ja.json
  custom_components/habragerone/translations/lt.json
  custom_components/habragerone/translations/lv.json
  custom_components/habragerone/translations/nl.json
  custom_components/habragerone/translations/pl.json
  custom_components/habragerone/translations/pt.json
  custom_components/habragerone/translations/ro.json
  custom_components/habragerone/translations/ru.json
  custom_components/habragerone/translations/sk.json
  custom_components/habragerone/translations/sl.json
  custom_components/habragerone/translations/uk.json
Due: ha-strings-validation

fix(i18n): restore non-EN locales from main for grouping help
  custom_components/habragerone/translations/cs.json
  custom_components/habragerone/translations/de.json
  custom_components/habragerone/translations/el.json
  custom_components/habragerone/translations/es.json
  custom_components/habragerone/translations/et.json
  custom_components/habragerone/translations/fr.json
  custom_components/habragerone/translations/hu.json
  custom_components/habragerone/translations/ja.json
  custom_components/habragerone/translations/lt.json
  custom_components/habragerone/translations/lv.json
  custom_components/habragerone/translations/nl.json
  custom_components/habragerone/translations/pt.json
  custom_components/habragerone/translations/ro.json
  custom_components/habragerone/translations/ru.json
  custom_components/habragerone/translations/sk.json
  custom_components/habragerone/translations/sl.json
  custom_components/habragerone/translations/uk.json
Due: none

docs: flat mode keeps connectivity child device (#178) (#182)
  README.md
  custom_components/habragerone/strings.json
  custom_components/habragerone/translations/en.json
  custom_components/habragerone/translations/pl.json
Due: ha-strings-validation

chore: prepare 2026.8.5rc1 and align release tags without v prefix
  DEVELOPMENT.md
  custom_components/habragerone/manifest.json
  scripts/README.md
  scripts/release.sh
Due: ha-manifest-validation

fix(release): exact tag checks and repo-root manifest path
  scripts/release.sh
Due: none

chore: prepare 2026.8.5rc1 release candidate (#183)
  DEVELOPMENT.md
  custom_components/habragerone/manifest.json
  scripts/README.md
  scripts/release.sh
Due: ha-manifest-validation

fix: inherit menu_key from panel siblings for group-by-menu
  AGENTS.md
  custom_components/habragerone/bootstrap.py
  custom_components/habragerone/const.py
  tests/test_bootstrap_menu_key.py
Due: none

test: cover menu_key inheritance edge branches for patch coverage
  tests/test_bootstrap_menu_key.py
Due: none

fix: orphan Podajnik entities inherit menu_key from panel siblings (#184)
  AGENTS.md
  custom_components/habragerone/bootstrap.py
  custom_components/habragerone/const.py
  tests/test_bootstrap_menu_key.py
Due: none

docs: keep menu_key inheritance docstring English-only
  custom_components/habragerone/bootstrap.py
Due: none

fix: omit redundant menu prefix under group-by-menu devices
  custom_components/habragerone/binary_sensor.py
  custom_components/habragerone/button.py
  custom_components/habragerone/entity_common.py
  custom_components/habragerone/number.py
  custom_components/habragerone/select.py
  custom_components/habragerone/sensor.py
  custom_components/habragerone/switch.py
  tests/test_entity_naming.py
Due: none

fix: recognize Polish on/off tokens in status binary rules
  custom_components/habragerone/status_rules.py
  tests/test_status_rules.py
Due: none

fix: include załączono tokens in binary _to_bool
  custom_components/habragerone/binary_sensor.py
Due: none

fix: group-by-menu leading dashes and Polish status on/off tokens (#185)
  custom_components/habragerone/binary_sensor.py
  custom_components/habragerone/bootstrap.py
  custom_components/habragerone/button.py
  custom_components/habragerone/entity_common.py
  custom_components/habragerone/number.py
  custom_components/habragerone/select.py
  custom_components/habragerone/sensor.py
  custom_components/habragerone/status_rules.py
  custom_components/habragerone/switch.py
  tests/test_entity_naming.py
  tests/test_status_rules.py
Due: none

chore: bump manifest to 2026.8.5rc2
  custom_components/habragerone/manifest.json
Due: ha-manifest-validation

chore: bump manifest to 2026.8.5rc2 (#186)
  custom_components/habragerone/manifest.json
Due: ha-manifest-validation

fix: RC2 smoke — number scale, boiler switches, pump status
  AGENTS.md
  custom_components/habragerone/binary_sensor.py
  custom_components/habragerone/bootstrap.py
  custom_components/habragerone/command_write.py
  custom_components/habragerone/const.py
  custom_components/habragerone/number.py
  custom_components/habragerone/numeric_display.py
  custom_components/habragerone/runtime.py
  custom_components/habragerone/status_rules.py
  custom_components/habragerone/switch.py
  tests/test_platform_number.py
  tests/test_platform_switch.py
  tests/test_runtime_async_write.py
  tests/test_status_rules.py
Due: none

chore: bump py-bragerone to 2026.8.8
  custom_components/habragerone/manifest.json
  pyproject.toml
  uv.lock
Due: ha-manifest-validation

test: cover RC2 transform and bitmask patch paths
  custom_components/habragerone/bootstrap.py
  tests/test_numeric_display.py
  tests/test_runtime_async_write.py
  tests/test_status_rules.py
Due: none

test: close Codecov patch partial branches for RC2 fixes
  tests/test_numeric_display.py
  tests/test_runtime_async_write.py
  tests/test_status_rules.py
Due: none

fix: exclude bool from transform precision and write bounds
  custom_components/habragerone/bootstrap.py
  custom_components/habragerone/runtime.py
  tests/test_numeric_display.py
  tests/test_runtime_async_write.py
Due: none

fix: RC2 smoke — number scale, boiler switches, pump status (#187)
  AGENTS.md
  custom_components/habragerone/binary_sensor.py
  custom_components/habragerone/bootstrap.py
  custom_components/habragerone/command_write.py
  custom_components/habragerone/const.py
  custom_components/habragerone/manifest.json
  custom_components/habragerone/number.py
  custom_components/habragerone/numeric_display.py
  custom_components/habragerone/runtime.py
  custom_components/habragerone/status_rules.py
  custom_components/habragerone/switch.py
  pyproject.toml
  tests/test_numeric_display.py
  tests/test_platform_number.py
  tests/test_platform_switch.py
  tests/test_runtime_async_write.py
  tests/test_status_rules.py
  uv.lock
Due: ha-manifest-validation

chore: bump manifest to 2026.8.5rc3
  custom_components/habragerone/manifest.json
Due: ha-manifest-validation

chore: bump manifest to 2026.8.5rc3 (#188)
  custom_components/habragerone/manifest.json
Due: ha-manifest-validation

fix: resolve STATUS binary diodes via SPA status label path
  custom_components/habragerone/binary_sensor.py
  custom_components/habragerone/status_rules.py
  tests/test_platform_binary_sensor.py
  tests/test_status_rules.py
Due: none

fix: map Polish/manual pump status labels to on/off
  custom_components/habragerone/status_rules.py
  tests/test_platform_binary_sensor.py
  tests/test_status_rules.py
Due: none

test: cover STATUS label bool edge branches for pump fix
  tests/helpers/descriptors.py
  tests/test_platform_binary_sensor.py
  tests/test_status_rules.py
Due: none

Path conditions:
  ha-manifest-validation: any of: ^custom_components/.*/manifest\.json$, but not: (?x)^(
  config/|
  .venv/|
  dist/|
  build/|
  .*/migrations/|
  .*/node_modules/
)

  ha-strings-validation: any of: ^custom_components/.*/strings\.json$, but not: (?x)^(
  config/|
  .venv/|
  dist/|
  build/|
  .*/migrations/|
  .*/node_modules/
)

