Repository marpi82/ha-bragerone: changes, and which pre-commit hooks are due for each by the changed paths.
All: ha-manifest-validation, ha-strings-validation

ha-manifest-validation:
  name: Validate Home Assistant manifest.json
  language: system
  entry: bash -c 'python -c "import json; json.load(open(\"custom_components/habragerone/manifest.json\"))"'
  pass_filenames: false

ha-strings-validation:
  name: Validate Home Assistant strings.json
  language: system
  entry: bash -c 'python -c "import json; json.load(open(\"custom_components/habragerone/strings.json\"))"'
  pass_filenames: false

test(activity): cover catalog-backed activity index label loading
  tests/test_platform_activity.py
Due: none

test(activity): cover runtime helpers and fail-closed setup edges
  tests/test_platform_activity.py
Due: none

fix(activity): review fixes and expand activity test coverage
  custom_components/habragerone/event_feeds.py
  tests/test_platform_activity.py
Due: none

feat: module alarms list sensors (#222) (#226)
  DEVELOPMENT.md
  custom_components/habragerone/event_feeds.py
  custom_components/habragerone/runtime.py
  custom_components/habragerone/sensor.py
  tests/test_platform_alarms.py
Due: none

feat: module activity history sensor (#223) (#227)
  DEVELOPMENT.md
  custom_components/habragerone/event_feeds.py
  custom_components/habragerone/runtime.py
  custom_components/habragerone/sensor.py
  tests/test_platform_activity.py
Due: none

chore(release): pin py-bragerone 2026.9.0b1 for 2026.9 train beta
  custom_components/habragerone/manifest.json
  pyproject.toml
  uv.lock
Due: ha-manifest-validation

chore(release): pin py-bragerone 2026.9.0b1 for 2026.9 train beta (#229)
  custom_components/habragerone/manifest.json
  pyproject.toml
  uv.lock
Due: ha-manifest-validation

fix: load alarm chrome i18n and attach module diagnostics to parent device
  custom_components/habragerone/binary_sensor.py
  custom_components/habragerone/runtime.py
  tests/test_module_connectivity.py
  tests/test_platform_alarms.py
Due: none

docs(test): address #230 review — device placement docs and regressions
  AGENTS.md
  README.md
  custom_components/habragerone/strings.json
  custom_components/habragerone/translations/en.json
  custom_components/habragerone/translations/pl.json
  tests/test_module_connectivity.py
  tests/test_platform_activity.py
  tests/test_platform_alarms.py
Due: ha-strings-validation

fix: alarm/activity entity creation and module diagnostics device placement (#230)
  AGENTS.md
  README.md
  custom_components/habragerone/binary_sensor.py
  custom_components/habragerone/runtime.py
  custom_components/habragerone/strings.json
  custom_components/habragerone/translations/en.json
  custom_components/habragerone/translations/pl.json
  tests/test_module_connectivity.py
  tests/test_platform_activity.py
  tests/test_platform_alarms.py
Due: ha-strings-validation

chore(release): pin py-bragerone 2026.9.0b2 and bump manifest to 2026.9.0b2
  custom_components/habragerone/manifest.json
  pyproject.toml
  uv.lock
Due: ha-manifest-validation

chore(release): pin py-bragerone 2026.9.0b2 and bump manifest to 2026.9.0b2 (#232)
  custom_components/habragerone/manifest.json
  pyproject.toml
  uv.lock
Due: ha-manifest-validation

fix: drop measurement state_class from alarm/activity feed sensors
  custom_components/habragerone/event_feeds.py
  tests/test_platform_activity.py
  tests/test_platform_alarms.py
Due: none

fix: drop measurement state_class from alarm/activity feed sensors (#233)
  custom_components/habragerone/event_feeds.py
  tests/test_platform_activity.py
  tests/test_platform_alarms.py
Due: none

fix(activity): map prevValue scalar and nested user.name
  custom_components/habragerone/runtime.py
  tests/test_platform_activity.py
Due: none

chore(release): pin py-bragerone 2026.9.0b3 and bump manifest to 2026.9.0b3
  custom_components/habragerone/manifest.json
  pyproject.toml
  uv.lock
Due: ha-manifest-validation

chore(release): drop uv.lock prerelease-mode option
  uv.lock
Due: none

fix(bootstrap): Strefy czasowe menu route and runtime visibility (#192)
  README.md
  custom_components/habragerone/__init__.py
  custom_components/habragerone/binary_sensor.py
  custom_components/habragerone/bootstrap.py
  custom_components/habragerone/const.py
  custom_components/habragerone/entity_common.py
  custom_components/habragerone/number.py
  custom_components/habragerone/runtime.py
  custom_components/habragerone/select.py
  custom_components/habragerone/sensor.py
  custom_components/habragerone/switch.py
  pyproject.toml
  tests/conftest.py
  tests/test_bootstrap_filtering.py
  tests/test_bootstrap_panel_group_fallback.py
  tests/test_bootstrap_strefy_czasowe.py
  tests/test_bootstrap_upstream_fingerprint.py
  tests/test_runtime_route_visibility.py
  uv.lock
Due: none

ci: add BragerOne triage bot caller and path labeler
  .github/branch-protection-checklist.md
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/bragerone-triage.yml
  .github/workflows/pull-request-labeler.yml
Due: none

fix(ci): triage converted_to_draft and document classic PAT
  .github/branch-protection-checklist.md
  .github/workflows/bragerone-triage.yml
Due: none

ci: BragerOne triage bot caller and path labeler (#238)
  .github/branch-protection-checklist.md
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/bragerone-triage.yml
  .github/workflows/pull-request-labeler.yml
Due: none

fix(ci): unblock Dependabot/Renovate PRs on codecov/patch
  .github/workflows/ci.yml
  codecov.yml
Due: none

Potential fix for pull request finding
  codecov.yml
Due: none

fix(ci): address remaining Copilot review on codecov PR
  .github/workflows/ci.yml
  codecov.yml
Due: none

fix(ci): unblock dependency bot PRs on codecov/patch (#241)
  .github/workflows/ci.yml
  codecov.yml
Due: none

test(#192): expand route visibility coverage and fix CI typecheck
  pyproject.toml
  tests/conftest.py
  tests/test_bootstrap_strefy_czasowe.py
  tests/test_runtime_route_visibility.py
  uv.lock
Due: none

chore(release): pin py-bragerone 2026.9.0b4 and bump manifest to 2026.9.0b4
  custom_components/habragerone/manifest.json
  pyproject.toml
  uv.lock
Due: ha-manifest-validation

fix(#192): refresh entity availability on route visibility changes
  custom_components/habragerone/binary_sensor.py
  custom_components/habragerone/bootstrap.py
  custom_components/habragerone/entity_common.py
  custom_components/habragerone/number.py
  custom_components/habragerone/select.py
  custom_components/habragerone/sensor.py
  custom_components/habragerone/switch.py
  tests/test_entity_common.py
Due: none

fix: Strefy czasowe menu bootstrap + runtime visibility (#192) (#237)
  README.md
  custom_components/habragerone/__init__.py
  custom_components/habragerone/binary_sensor.py
  custom_components/habragerone/bootstrap.py
  custom_components/habragerone/const.py
  custom_components/habragerone/entity_common.py
  custom_components/habragerone/manifest.json
  custom_components/habragerone/number.py
  custom_components/habragerone/runtime.py
  custom_components/habragerone/select.py
  custom_components/habragerone/sensor.py
  custom_components/habragerone/switch.py
  pyproject.toml
  tests/conftest.py
  tests/test_bootstrap_filtering.py
  tests/test_bootstrap_panel_group_fallback.py
  tests/test_bootstrap_strefy_czasowe.py
  tests/test_bootstrap_upstream_fingerprint.py
  tests/test_entity_common.py
  tests/test_runtime_route_visibility.py
  uv.lock
Due: ha-manifest-validation

feat(diagnostics): expose last_live_param_update_age_s in cloud session
  custom_components/habragerone/diagnostics.py
  tests/helpers/fakes.py
  tests/test_diagnostics.py
Due: none

feat(diagnostics): expose last_live_param_update_age_s in cloud session (#242)
  custom_components/habragerone/diagnostics.py
  tests/helpers/fakes.py
  tests/test_diagnostics.py
Due: none

docs: track obfuscated min/max diagnostics (py #329) (#225)
  .github/workflows/hacs.yml
  DEVELOPMENT.md
Due: none

Path conditions:
  ha-manifest-validation: any of: ^custom_components/.*/manifest\.json$, but not: (?x)^(
  config/|
  .venv/|
  dist/|
  build/|
  .*/migrations/|
  .*/node_modules/
)

  ha-strings-validation: any of: ^custom_components/.*/strings\.json$, but not: (?x)^(
  config/|
  .venv/|
  dist/|
  build/|
  .*/migrations/|
  .*/node_modules/
)

