Repository marpi82/ha-bragerone: changes, and which pre-commit hooks are due for each by the changed paths.
All: ha-manifest-validation, ha-strings-validation

.pre-commit-config.yaml:

minimum_pre_commit_version: "4.3.0"

exclude: |
  (?x)^(
    config/|
    .venv/|
    dist/|
    build/|
    .*/migrations/|
    .*/node_modules/
  )

repos:
  # Ruff → linter + formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  # Mypy → type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        args: ["--strict", "--show-column-numbers", "--show-error-codes"]
        files: ^(custom_components/|tests/)
        additional_dependencies:
          [
            "homeassistant>=2025.5.0",
            "pydantic>=2.0",
            "aioresponses",
            "pytest-asyncio",
            "packaging",
          ]

  # Secrets scanning with Gitleaks
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        name: gitleaks (protect staged)
        entry: gitleaks protect --staged --redact
        language: golang
        pass_filenames: false

  # Useful generic checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=2048"]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
        exclude: ^(.devcontainer/devcontainer\.json|.*\.yaml\.j2)$
      - id: check-json
        exclude: ^(.devcontainer/devcontainer\.json)$

  # --- SECURITY: code (SAST) ---
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        name: bandit (scan custom_components/)
        args: ["-r", "custom_components", "-q"]
        pass_filenames: false

  # --- SECURITY: dependencies (SCA) with uv export + pip-audit ---
  - repo: local
    hooks:
      - id: uv-export
        name: uv pip freeze requirements snapshot
        language: system
        entry: bash -c 'uv pip freeze --exclude-editable > requirements-pip-audit.txt'
        pass_filenames: false
        stages: [pre-commit]
        always_run: true

  - repo: https://github.com/pypa/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (scan requirements snapshot)
        args:
          [
            "--requirement",
            "requirements-pip-audit.txt",
            "--progress-spinner",
            "off",
          ]
        stages: [pre-commit]
        always_run: true

  # --- Home Assistant specific validations ---
  - repo: local
    hooks:
      - id: ha-manifest-validation
        name: Validate Home Assistant manifest.json
        language: system
        entry: bash -c 'python -c "import json; json.load(open(\"custom_components/habragerone/manifest.json\"))"'
        files: ^custom_components/.*/manifest\.json$
        pass_filenames: false

      - id: ha-strings-validation
        name: Validate Home Assistant strings.json
        language: system
        entry: bash -c 'python -c "import json; json.load(open(\"custom_components/habragerone/strings.json\"))"'
        files: ^custom_components/.*/strings\.json$
        pass_filenames: false

  # --- Tests on pre-push with coverage gate ---
  - repo: local
    hooks:
      - id: pytest-pre-push
        name: pytest (coverage gate on push)
        language: system
        entry: bash -lc 'uv run --group test pytest --maxfail=1 --disable-warnings -q --cov=custom_components.habragerone --cov-report=term-missing --cov-fail-under=70'
        pass_filenames: false
        stages: [pre-push]

docs: add CI and quality badges to README (#208)
  README.md
Due: none

chore: bump manifest to 2026.8.6rc5
  custom_components/habragerone/manifest.json
Due: ha-manifest-validation

ci: limit Codecov patch status to pull requests
  AGENTS.md
  codecov.yml
Due: none

ci: limit Codecov patch status to pull requests (#210)
  AGENTS.md
  codecov.yml
Due: none

chore: release 2026.8.6rc6 (py-bragerone 2026.8.9rc4)
  custom_components/habragerone/manifest.json
  pyproject.toml
  uv.lock
Due: ha-manifest-validation

chore: release 2026.8.6rc6 (py-bragerone 2026.8.9rc4) (#211)
  custom_components/habragerone/manifest.json
  pyproject.toml
  uv.lock
Due: ha-manifest-validation

feat(#212): create every permission-gated entity, gate enabled_by_default instead
  custom_components/habragerone/__init__.py
  custom_components/habragerone/binary_sensor.py
  custom_components/habragerone/bootstrap.py
  custom_components/habragerone/button.py
  custom_components/habragerone/const.py
  custom_components/habragerone/entity_common.py
  custom_components/habragerone/number.py
  custom_components/habragerone/select.py
  custom_components/habragerone/sensor.py
  custom_components/habragerone/switch.py
Due: none

feat(#212): remove entity filter mode from config/options UI
  custom_components/habragerone/config_flow.py
  custom_components/habragerone/strings.json
  custom_components/habragerone/translations/cs.json
  custom_components/habragerone/translations/de.json
  custom_components/habragerone/translations/el.json
  custom_components/habragerone/translations/en.json
  custom_components/habragerone/translations/es.json
  custom_components/habragerone/translations/et.json
  custom_components/habragerone/translations/fr.json
  custom_components/habragerone/translations/hu.json
  custom_components/habragerone/translations/ja.json
  custom_components/habragerone/translations/lt.json
  custom_components/habragerone/translations/lv.json
  custom_components/habragerone/translations/nl.json
  custom_components/habragerone/translations/pl.json
  custom_components/habragerone/translations/pt.json
  custom_components/habragerone/translations/ro.json
  custom_components/habragerone/translations/ru.json
  custom_components/habragerone/translations/sk.json
  custom_components/habragerone/translations/sl.json
  custom_components/habragerone/translations/uk.json
Due: ha-strings-validation

docs(#212): describe always-create + enabled_by_default gating
  AGENTS.md
  README.md
Due: none

test(#212): cover always-create entities and enabled_by_default gating
  tests/helpers/config_flow.py
  tests/test_bootstrap_filtering.py
  tests/test_bootstrap_panel_group_fallback.py
  tests/test_config_flow_helpers.py
  tests/test_config_flow_integration.py
  tests/test_entity_common.py
Due: none

fix: compose multi-register sensor values (feeder runtime)
  custom_components/habragerone/entity_common.py
  tests/conftest.py
  tests/test_entity_common.py
Due: none

test: close Codecov patch gaps for multi-register refresh/compose
  tests/conftest.py
  tests/test_entity_common.py
Due: none

test: close Codecov patch gaps for disabled-by-default entities
  tests/test_bootstrap_filtering.py
  tests/test_bootstrap_helpers.py
  tests/test_platform_binary_sensor.py
  tests/test_platform_button.py
  tests/test_platform_number.py
  tests/test_platform_select.py
  tests/test_platform_sensor.py
  tests/test_platform_switch.py
Due: none

fix: keep empty permissions on menu-kind retry (never ungate)
  custom_components/habragerone/bootstrap.py
  tests/test_bootstrap_panel_group_fallback.py
Due: none

test: split except handlers in ParamResolver compose stub
  tests/conftest.py
Due: none

fix: compose multi-register feeder runtime (PARAM_P4_59) (#215)
  custom_components/habragerone/entity_common.py
  tests/conftest.py
  tests/test_entity_common.py
Due: none

chore: release 2026.8.6rc7 (py-bragerone 2026.8.9rc5)
  custom_components/habragerone/manifest.json
  pyproject.toml
  uv.lock
Due: ha-manifest-validation

chore: release 2026.8.6rc7 (py-bragerone 2026.8.9rc5) (#217)
  custom_components/habragerone/manifest.json
  pyproject.toml
  uv.lock
Due: ha-manifest-validation

chore: release 2026.8.6rc8 (py-bragerone 2026.8.9rc6)
  custom_components/habragerone/manifest.json
  pyproject.toml
  uv.lock
Due: ha-manifest-validation

chore: release 2026.8.6rc8 (py-bragerone 2026.8.9rc6) (#218)
  custom_components/habragerone/manifest.json
  pyproject.toml
  uv.lock
Due: ha-manifest-validation

fix: preserve half-degree floats on plain sensor mappings
  custom_components/habragerone/entity_common.py
  tests/conftest.py
  tests/test_entity_common.py
Due: none

test: cover compose-gate helpers and ruff format
  custom_components/habragerone/entity_common.py
  tests/test_entity_common.py
Due: none

fix: preserve half-degree floats on plain temperature sensors (#219)
  custom_components/habragerone/entity_common.py
  tests/conftest.py
  tests/test_entity_common.py
Due: none

chore: release 2026.8.6rc9 (py-bragerone 2026.8.9rc7)
  custom_components/habragerone/manifest.json
  pyproject.toml
  uv.lock
Due: ha-manifest-validation

chore: release 2026.8.6rc9 (py-bragerone 2026.8.9rc7) (#220)
  custom_components/habragerone/manifest.json
  pyproject.toml
  uv.lock
Due: ha-manifest-validation

ci: allow pre-releases from release/* trains only
  .github/branch-protection-checklist.md
  .github/workflows/release.yml
  AGENTS.md
  DEVELOPMENT.md
  scripts/README.md
  scripts/release.sh
Due: none

ci: tighten release provenance and align PYPI_SETUP docs
  .github/workflows/release.yml
  docs/PYPI_SETUP.md
  scripts/release.sh
Due: none

ci: require remote train tip before tagging releases
  .github/workflows/release.yml
  DEVELOPMENT.md
  scripts/release.sh
Due: none

ci: allow pre-releases from release/* trains only (#224)
  .github/branch-protection-checklist.md
  .github/workflows/release.yml
  AGENTS.md
  DEVELOPMENT.md
  docs/PYPI_SETUP.md
  scripts/README.md
  scripts/release.sh
Due: none

docs: note obfuscated min/max diagnostics resolved in py catalog
  DEVELOPMENT.md
Due: none

feat: module alarms list sensors (current + history)
  AGENTS.md
  DEVELOPMENT.md
  custom_components/habragerone/const.py
  custom_components/habragerone/event_feeds.py
  custom_components/habragerone/runtime.py
  custom_components/habragerone/sensor.py
  tests/test_platform_alarms.py
Due: none

fix(alarms): review fixes and expand runtime test coverage
  AGENTS.md
  custom_components/habragerone/const.py
  custom_components/habragerone/event_feeds.py
  custom_components/habragerone/runtime.py
  tests/test_platform_alarms.py
Due: none

test(alarms): cover catalog-backed chrome and name map loading
  tests/test_platform_alarms.py
Due: none

ci(hacs): run validation on release train PRs
  .github/workflows/hacs.yml
Due: none

test(alarms): cover runtime helpers and fail-closed setup edges
  tests/test_platform_alarms.py
Due: none

docs: track obfuscated min/max diagnostics (py #329) (#225)
  .github/workflows/hacs.yml
  DEVELOPMENT.md
Due: none

feat: module activity history sensor
  DEVELOPMENT.md
  custom_components/habragerone/event_feeds.py
  custom_components/habragerone/runtime.py
  custom_components/habragerone/sensor.py
  tests/test_platform_activity.py
Due: none
