Repository marpi82/ha-bragerone: changes, and which pre-commit hooks are due for each by the changed paths.
All: ha-manifest-validation, ha-strings-validation

ha-manifest-validation:
  name: Validate Home Assistant manifest.json
  language: system
  entry: bash -c 'python -c "import json; json.load(open(\"custom_components/habragerone/manifest.json\"))"'
  pass_filenames: false

ha-strings-validation:
  name: Validate Home Assistant strings.json
  language: system
  entry: bash -c 'python -c "import json; json.load(open(\"custom_components/habragerone/strings.json\"))"'
  pass_filenames: false

chore(release): pin py-bragerone 2026.9.0b3 and bump manifest to 2026.9.0b3
  custom_components/habragerone/manifest.json
  pyproject.toml
  uv.lock
Due: ha-manifest-validation

chore(release): drop uv.lock prerelease-mode option
  uv.lock
Due: none

chore(release): bump manifest to 2026.9.0b5
  custom_components/habragerone/manifest.json
Due: ha-manifest-validation

chore(release): pin py-bragerone 2026.9.0b5 and bump manifest to 2026.9.0b5
  custom_components/habragerone/manifest.json
  pyproject.toml
  uv.lock
Due: ha-manifest-validation

chore(release): set manifest version to 2026.9.0b5
  custom_components/habragerone/manifest.json
Due: ha-manifest-validation

fix(#192): localize shell route diagnostics for menu_key enrichment
  README.md
  custom_components/habragerone/bootstrap.py
  custom_components/habragerone/const.py
  tests/test_bootstrap_strefy_czasowe.py
Due: none

fix(#192): localize shell route diagnostics for menu_key enrichment (#247)
  README.md
  custom_components/habragerone/bootstrap.py
  custom_components/habragerone/const.py
  tests/test_bootstrap_strefy_czasowe.py
Due: none

chore(release): pin py-bragerone 2026.9.0b6 and bump manifest to 2026.9.0b6
  custom_components/habragerone/manifest.json
  pyproject.toml
  uv.lock
Due: ha-manifest-validation

chore: release 2026.8.9 (py-bragerone 2026.8.9)
  custom_components/habragerone/manifest.json
  pyproject.toml
  uv.lock
Due: ha-manifest-validation

chore: release 2026.8.9 (py-bragerone 2026.8.9) (#249)
  custom_components/habragerone/manifest.json
  pyproject.toml
  uv.lock
Due: ha-manifest-validation

test: cover release/2026.9 patch for Codecov 100% gate
  tests/test_bootstrap_strefy_czasowe.py
  tests/test_entity_common.py
  tests/test_platform_activity.py
  tests/test_platform_alarms.py
  tests/test_platform_route_visibility_unsubscribe.py
  tests/test_runtime_patch_coverage.py
Due: none

test: close Codecov patch partial branches for #250
  tests/test_bootstrap_strefy_czasowe.py
  tests/test_platform_activity.py
  tests/test_platform_alarms.py
  tests/test_runtime_patch_coverage.py
Due: none

fix: drop dead route-visibility map; coerce device_menu ids
  custom_components/habragerone/runtime.py
  tests/test_runtime_route_visibility.py
Due: none

chore: pin py-bragerone 2026.9.0 stable for release train
  custom_components/habragerone/manifest.json
  pyproject.toml
  uv.lock
Due: ha-manifest-validation

chore: bump integration manifest version to 2026.9.0
  custom_components/habragerone/manifest.json
Due: ha-manifest-validation

Fix event-feed availability and refresh activity after writes.
  AGENTS.md
  custom_components/habragerone/event_feeds.py
  custom_components/habragerone/runtime.py
  tests/test_platform_activity.py
  tests/test_platform_alarms.py
  tests/test_runtime_async_write.py
  tests/test_runtime_patch_coverage.py
Due: none

test: cover post-write activity refresh and feed-ready availability
  tests/test_platform_activity.py
  tests/test_platform_alarms.py
  tests/test_runtime_async_write.py
Due: none

Fix UI-route indexing and button route visibility (Copilot #250).
  custom_components/habragerone/bootstrap.py
  custom_components/habragerone/button.py
  tests/test_bootstrap_filtering.py
  tests/test_platform_button.py
Due: none

test: cover button route-visibility unsubscribe path
  tests/test_platform_button.py
Due: none

Fix structural route discovery and event-feed REST status handling.
  custom_components/habragerone/bootstrap.py
  custom_components/habragerone/event_feeds.py
  custom_components/habragerone/runtime.py
  tests/test_bootstrap_filtering.py
  tests/test_platform_activity.py
  tests/test_platform_alarms.py
Due: none

test: cover bootstrap structural fallback and REST feed guards
  tests/test_bootstrap_panel_group_fallback.py
  tests/test_runtime_patch_coverage.py
Due: none

fix: address Copilot review on static routes and lifecycle
  custom_components/habragerone/__init__.py
  custom_components/habragerone/bootstrap.py
  custom_components/habragerone/diagnostics.py
  custom_components/habragerone/entity_common.py
  custom_components/habragerone/runtime.py
  custom_components/habragerone/sensor.py
  tests/test_bootstrap_strefy_czasowe.py
  tests/test_diagnostics.py
  tests/test_entity_common.py
  tests/test_platform_activity.py
  tests/test_platform_alarms.py
  tests/test_platform_binary_sensor.py
  tests/test_platform_button.py
  tests/test_platform_number.py
  tests/test_platform_select.py
  tests/test_platform_sensor.py
  tests/test_platform_switch.py
  tests/test_runtime_patch_coverage.py
Due: none

test: cover stop() refresh cancellation and legacy device guards
  tests/test_entity_common.py
  tests/test_runtime_patch_coverage.py
Due: none

fix: fail-closed on app-level event-feed status and doc writes
  DEVELOPMENT.md
  custom_components/habragerone/runtime.py
  tests/test_platform_activity.py
  tests/test_platform_alarms.py
  tests/test_runtime_patch_coverage.py
Due: none

test: cover status-only module-events REST tuple branch
  tests/test_runtime_patch_coverage.py
Due: none

fix: apply ParamStore deltas before route visibility refresh
  DEVELOPMENT.md
  custom_components/habragerone/runtime.py
  tests/helpers/fakes.py
  tests/test_runtime_resolve.py
Due: none

feat: consume py-bragerone 2026.9.1 alarm, route, and activity APIs
  custom_components/habragerone/manifest.json
  custom_components/habragerone/runtime.py
  pyproject.toml
  tests/helpers/fakes.py
  tests/test_platform_alarms.py
  tests/test_runtime_patch_coverage.py
  tests/test_runtime_resolve.py
  tests/test_runtime_route_visibility.py
  uv.lock
Due: ha-manifest-validation

ci: add pre-push patch coverage gate via diff-cover 10.5.x
  .github/instructions/tests.instructions.md
  .pre-commit-config.yaml
  AGENTS.md
  DEVELOPMENT.md
  pyproject.toml
  scripts/check_patch_coverage.sh
  tests/test_runtime_patch_coverage.py
  uv.lock
Due: none

fix: cache route flatten per devid and fall back on display errors
  custom_components/habragerone/runtime.py
  tests/test_runtime_patch_coverage.py
  tests/test_runtime_route_visibility.py
Due: none

test: cover fetch_alarm_name_source branches in alarm name load
  tests/test_runtime_patch_coverage.py
Due: none

Release/2026.9.1 (#256)
  .github/instructions/tests.instructions.md
  .pre-commit-config.yaml
  AGENTS.md
  DEVELOPMENT.md
  custom_components/habragerone/manifest.json
  custom_components/habragerone/runtime.py
  pyproject.toml
  scripts/check_patch_coverage.sh
  tests/helpers/fakes.py
  tests/test_platform_alarms.py
  tests/test_runtime_patch_coverage.py
  tests/test_runtime_resolve.py
  tests/test_runtime_route_visibility.py
  uv.lock
Due: ha-manifest-validation

fix(#257): migrate device registry to via_device_id lookups
  AGENTS.md
  README.md
  custom_components/habragerone/binary_sensor.py
  custom_components/habragerone/button.py
  custom_components/habragerone/config_flow.py
  custom_components/habragerone/entity_common.py
  custom_components/habragerone/event_feeds.py
  custom_components/habragerone/number.py
  custom_components/habragerone/select.py
  custom_components/habragerone/sensor.py
  custom_components/habragerone/strings.json
  custom_components/habragerone/switch.py
  custom_components/habragerone/translations/cs.json
  custom_components/habragerone/translations/de.json
  custom_components/habragerone/translations/el.json
  custom_components/habragerone/translations/en.json
  custom_components/habragerone/translations/es.json
  custom_components/habragerone/translations/et.json
  custom_components/habragerone/translations/fr.json
  custom_components/habragerone/translations/hu.json
  custom_components/habragerone/translations/ja.json
  custom_components/habragerone/translations/lt.json
  custom_components/habragerone/translations/lv.json
  custom_components/habragerone/translations/nl.json
  custom_components/habragerone/translations/pl.json
  custom_components/habragerone/translations/pt.json
  custom_components/habragerone/translations/ro.json
  custom_components/habragerone/translations/ru.json
  custom_components/habragerone/translations/sk.json
  custom_components/habragerone/translations/sl.json
  custom_components/habragerone/translations/uk.json
  tests/test_entity_common.py
Due: ha-strings-validation

fix(#258): avoid blocking alarm_names import in the event loop
  custom_components/habragerone/runtime.py
  tests/test_runtime_patch_coverage.py
Due: none

test(#257): cover HA < 2026.7 device-registry fallbacks
  tests/test_entity_common.py
Due: none

test(#258): cover AlarmName import success and ImportError paths
  custom_components/habragerone/runtime.py
  tests/test_runtime_patch_coverage.py
Due: none

fix(#257): fall back when parent via_device_id lookup fails
  README.md
  custom_components/habragerone/entity_common.py
  custom_components/habragerone/event_feeds.py
  tests/test_entity_common.py
Due: none

fix(#258): avoid blocking alarm_names import in the event loop (#260)
  custom_components/habragerone/runtime.py
  tests/test_runtime_patch_coverage.py
Due: none

Update monkeypatch to allow None for async_get_device_by_identifier
  tests/test_entity_common.py
Due: none

Update monkeypatch to prevent raising exceptions
  tests/test_entity_common.py
Due: none

Path conditions:
  ha-manifest-validation: any of: ^custom_components/.*/manifest\.json$, but not: (?x)^(
  config/|
  .venv/|
  dist/|
  build/|
  .*/migrations/|
  .*/node_modules/
)

  ha-strings-validation: any of: ^custom_components/.*/strings\.json$, but not: (?x)^(
  config/|
  .venv/|
  dist/|
  build/|
  .*/migrations/|
  .*/node_modules/
)

