Repository marpi82/ha-bragerone: changes, and which pre-commit hooks are due for each by the changed paths.
All: ha-manifest-validation, ha-strings-validation

.pre-commit-config.yaml:

minimum_pre_commit_version: "4.3.0"

exclude: |
  (?x)^(
    config/|
    .venv/|
    dist/|
    build/|
    .*/migrations/|
    .*/node_modules/
  )

repos:
  # Ruff → linter + formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  # Mypy → type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        args: ["--strict", "--show-column-numbers", "--show-error-codes"]
        files: ^(custom_components/|tests/)
        additional_dependencies:
          [
            "homeassistant>=2025.5.0",
            "pydantic>=2.0",
            "aioresponses",
            "pytest-asyncio",
            "packaging",
          ]

  # Secrets scanning with Gitleaks
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        name: gitleaks (protect staged)
        entry: gitleaks protect --staged --redact
        language: golang
        pass_filenames: false

  # Useful generic checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=2048"]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
        exclude: ^(.devcontainer/devcontainer\.json|.*\.yaml\.j2)$
      - id: check-json
        exclude: ^(.devcontainer/devcontainer\.json)$

  # --- SECURITY: code (SAST) ---
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        name: bandit (scan custom_components/)
        args: ["-r", "custom_components", "-q"]
        pass_filenames: false

  # --- SECURITY: dependencies (SCA) with uv export + pip-audit ---
  - repo: local
    hooks:
      - id: uv-export
        name: uv pip freeze requirements snapshot
        language: system
        entry: bash -c 'uv pip freeze --exclude-editable > requirements-pip-audit.txt'
        pass_filenames: false
        stages: [pre-commit]
        always_run: true

  - repo: https://github.com/pypa/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        name: pip-audit (scan requirements snapshot)
        args:
          [
            "--requirement",
            "requirements-pip-audit.txt",
            "--progress-spinner",
            "off",
          ]
        stages: [pre-commit]
        always_run: true

  # --- Home Assistant specific validations ---
  - repo: local
    hooks:
      - id: ha-manifest-validation
        name: Validate Home Assistant manifest.json
        language: system
        entry: bash -c 'python -c "import json; json.load(open(\"custom_components/habragerone/manifest.json\"))"'
        files: ^custom_components/.*/manifest\.json$
        pass_filenames: false

      - id: ha-strings-validation
        name: Validate Home Assistant strings.json
        language: system
        entry: bash -c 'python -c "import json; json.load(open(\"custom_components/habragerone/strings.json\"))"'
        files: ^custom_components/.*/strings\.json$
        pass_filenames: false

  # --- Tests on pre-push with coverage gate ---
  - repo: local
    hooks:
      - id: pytest-pre-push
        name: pytest (coverage gate on push)
        language: system
        entry: bash -lc 'uv run --group test pytest --maxfail=1 --disable-warnings -q --cov=custom_components.habragerone --cov-report=term-missing --cov-fail-under=70'
        pass_filenames: false
        stages: [pre-push]

fix: resolve STATUS binary diodes via SPA status label path (#189)
  custom_components/habragerone/binary_sensor.py
  custom_components/habragerone/status_rules.py
  tests/helpers/descriptors.py
  tests/test_platform_binary_sensor.py
  tests/test_status_rules.py
Due: none

chore: bump manifest to 2026.8.5rc4
  custom_components/habragerone/manifest.json
Due: ha-manifest-validation

chore: bump manifest to 2026.8.5rc4 (#190)
  custom_components/habragerone/manifest.json
Due: ha-manifest-validation

chore: bump manifest to 2026.8.5
  custom_components/habragerone/manifest.json
Due: ha-manifest-validation

chore: bump manifest to 2026.8.5 (#191)
  custom_components/habragerone/manifest.json
Due: ha-manifest-validation

feat: add Cloud API session diagnostic separate from module connectivity
  AGENTS.md
  README.md
  custom_components/habragerone/binary_sensor.py
  custom_components/habragerone/diagnostics.py
  custom_components/habragerone/runtime.py
  custom_components/habragerone/strings.json
  custom_components/habragerone/translations/cs.json
  custom_components/habragerone/translations/de.json
  custom_components/habragerone/translations/el.json
  custom_components/habragerone/translations/en.json
  custom_components/habragerone/translations/es.json
  custom_components/habragerone/translations/et.json
  custom_components/habragerone/translations/fr.json
  custom_components/habragerone/translations/hu.json
  custom_components/habragerone/translations/ja.json
  custom_components/habragerone/translations/lt.json
  custom_components/habragerone/translations/lv.json
  custom_components/habragerone/translations/nl.json
  custom_components/habragerone/translations/pl.json
  custom_components/habragerone/translations/pt.json
  custom_components/habragerone/translations/ro.json
  custom_components/habragerone/translations/ru.json
  custom_components/habragerone/translations/sk.json
  custom_components/habragerone/translations/sl.json
  custom_components/habragerone/translations/uk.json
  tests/helpers/fakes.py
  tests/test_cloud_session.py
  tests/test_diagnostics.py
  tests/test_module_connectivity.py
  tests/test_platform_binary_sensor.py
Due: ha-strings-validation

test: bring cloud-session patch coverage to 100%
  custom_components/habragerone/runtime.py
  tests/test_cloud_session.py
Due: none

test: cover cloud-session remove without listener (branch partial)
  tests/test_cloud_session.py
Due: none

fix: drop unused changed flag from cloud-session apply
  custom_components/habragerone/runtime.py
  tests/test_cloud_session.py
Due: none

feat: Cloud API session diagnostic (library↔cloud) separate from module online (#195)
  AGENTS.md
  README.md
  custom_components/habragerone/binary_sensor.py
  custom_components/habragerone/diagnostics.py
  custom_components/habragerone/runtime.py
  custom_components/habragerone/strings.json
  custom_components/habragerone/translations/cs.json
  custom_components/habragerone/translations/de.json
  custom_components/habragerone/translations/el.json
  custom_components/habragerone/translations/en.json
  custom_components/habragerone/translations/es.json
  custom_components/habragerone/translations/et.json
  custom_components/habragerone/translations/fr.json
  custom_components/habragerone/translations/hu.json
  custom_components/habragerone/translations/ja.json
  custom_components/habragerone/translations/lt.json
  custom_components/habragerone/translations/lv.json
  custom_components/habragerone/translations/nl.json
  custom_components/habragerone/translations/pl.json
  custom_components/habragerone/translations/pt.json
  custom_components/habragerone/translations/ro.json
  custom_components/habragerone/translations/ru.json
  custom_components/habragerone/translations/sk.json
  custom_components/habragerone/translations/sl.json
  custom_components/habragerone/translations/uk.json
  tests/helpers/fakes.py
  tests/test_cloud_session.py
  tests/test_diagnostics.py
  tests/test_module_connectivity.py
  tests/test_platform_binary_sensor.py
Due: ha-strings-validation

chore(deps): bump py-bragerone to 2026.8.9rc1 for HA 2026.8.6rc1
  custom_components/habragerone/manifest.json
  pyproject.toml
  uv.lock
Due: ha-manifest-validation

ci: allow pre-release pins in wheel-compat pip download
  .github/workflows/ci.yml
Due: none

chore(deps): bump py-bragerone to 2026.8.9rc1 for HA 2026.8.6rc1 (#196)
  .github/workflows/ci.yml
  custom_components/habragerone/manifest.json
  pyproject.toml
  uv.lock
Due: ha-manifest-validation

feat: include last ParamUpdate age in config-entry diagnostics
  README.md
  custom_components/habragerone/diagnostics.py
  tests/helpers/fakes.py
  tests/test_diagnostics.py
Due: none

test: declare and coerce FakeGateway last_param_update_age_s
  tests/helpers/fakes.py
Due: none

feat: include last ParamUpdate age in Cloud API session diagnostics (#197)
  README.md
  custom_components/habragerone/diagnostics.py
  tests/helpers/fakes.py
  tests/test_diagnostics.py
Due: none

chore(deps): bump py-bragerone to 2026.8.9rc2 for HA 2026.8.6rc2
  custom_components/habragerone/manifest.json
  pyproject.toml
  uv.lock
Due: ha-manifest-validation

chore(deps): bump py-bragerone to 2026.8.9rc2 for HA 2026.8.6rc2 (#198)
  custom_components/habragerone/manifest.json
  pyproject.toml
  uv.lock
Due: ha-manifest-validation

feat: log module online transition markers
  custom_components/habragerone/runtime.py
  tests/test_module_connectivity.py
Due: none

test: cover no-log branch on unchanged module state
  tests/test_module_connectivity.py
Due: none

Address Copilot review on module online transition log
  custom_components/habragerone/runtime.py
  tests/test_module_connectivity.py
Due: none

feat: add concise module online/offline transition markers to runtime logs (#199)
  custom_components/habragerone/runtime.py
  tests/test_module_connectivity.py
Due: none

chore(deps): bump py-bragerone to 2026.8.9rc3 for HA 2026.8.6rc3
  custom_components/habragerone/manifest.json
  pyproject.toml
  uv.lock
Due: ha-manifest-validation

chore(deps): bump py-bragerone to 2026.8.9rc3 for HA 2026.8.6rc3 (#201)
  custom_components/habragerone/manifest.json
  pyproject.toml
  uv.lock
Due: ha-manifest-validation

fix: pre-register module devices and speed STATUS_* startup updates
  custom_components/habragerone/__init__.py
  custom_components/habragerone/binary_sensor.py
  custom_components/habragerone/entity_common.py
  custom_components/habragerone/runtime.py
  custom_components/habragerone/status_rules.py
  tests/test_entity_common.py
  tests/test_init_lifecycle.py
  tests/test_platform_binary_sensor.py
  tests/test_status_rules.py
Due: none

test: cover patch branches for via_device and STATUS_* startup fixes
  tests/test_entity_common.py
  tests/test_init_lifecycle.py
  tests/test_platform_binary_sensor.py
  tests/test_runtime_resolve.py
  tests/test_status_rules.py
Due: none

test: cover entity_common branch gaps for Codecov patch
  tests/test_entity_common.py
Due: none

fix: group-by-menu via_device parents and STATUS_* startup performance (#205)
  custom_components/habragerone/__init__.py
  custom_components/habragerone/binary_sensor.py
  custom_components/habragerone/entity_common.py
  custom_components/habragerone/runtime.py
  custom_components/habragerone/status_rules.py
  tests/test_entity_common.py
  tests/test_init_lifecycle.py
  tests/test_platform_binary_sensor.py
  tests/test_runtime_resolve.py
  tests/test_status_rules.py
Due: none

chore: bump manifest to 2026.8.6rc4
  custom_components/habragerone/manifest.json
Due: ha-manifest-validation

fix: prefetch STATUS mappings and apply pre-warmed labels at startup
  custom_components/habragerone/__init__.py
  custom_components/habragerone/binary_sensor.py
  custom_components/habragerone/entity_common.py
  custom_components/habragerone/runtime.py
  custom_components/habragerone/sensor.py
  tests/test_entity_common.py
  tests/test_init_lifecycle.py
  tests/test_platform_binary_sensor.py
  tests/test_platform_sensor.py
  tests/test_runtime_resolve.py
Due: none

test: cover STATUS prefetch/cache paths for Codecov patch 100%
  tests/test_entity_common.py
  tests/test_platform_binary_sensor.py
  tests/test_platform_sensor.py
  tests/test_runtime_resolve.py
Due: none

test: cover unresolved STATUS label branches for Codecov
  tests/test_platform_sensor.py
  tests/test_runtime_resolve.py
Due: none

test: cover resolver lock and repeated dispatch branches
  tests/test_runtime_resolve.py
Due: none

fix: yield after resolver lock so concurrent warmups share one instance
  custom_components/habragerone/runtime.py
Due: none

chore: ignore manifest.json in Codecov patch reports
  codecov.yml
Due: none

fix: address Copilot review on STATUS resolver warm-up
  custom_components/habragerone/runtime.py
  tests/test_runtime_resolve.py
Due: none

fix: prefetch STATUS mappings and skip slow startup updates (#207)
  codecov.yml
  custom_components/habragerone/__init__.py
  custom_components/habragerone/binary_sensor.py
  custom_components/habragerone/entity_common.py
  custom_components/habragerone/runtime.py
  custom_components/habragerone/sensor.py
  tests/test_entity_common.py
  tests/test_init_lifecycle.py
  tests/test_platform_binary_sensor.py
  tests/test_platform_sensor.py
  tests/test_runtime_resolve.py
Due: none

docs: add CI and quality badges to README
  README.md
Due: none
